* {
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
}

/*left side css*/

#tabLeft{
	float: left;
	height: 768px;
	width: 75%;
	padding:15px;
	background-color: #f1f2f4;
}

#tabLeft ul{
	background-color: #A0DBDB;
}

#tabLeft .nav-pills li a{
	border-radius: 4px 4px 0 0;
}

#tabLeft .nav-pills>li.active>a, 
#tabLeft .nav-pills>li.active>a:focus, 
#tabLeft .nav-pills>li.active>a:hover{
	/*tab color*/
	/*background-color: #428bca;*/
	background-color: #56A7A7;
} 

#tabLeft .tab-content{
	/*color: white;*/
	/*background-color: #428bca;*/
	background-color: #56A7A7;
	height: 698px;
}

.make_drinks_size label{
	width: 98px;
}

.make_drinks_tea_base label{
	width: 145px;
}

.make_drinks_flavor label{
	width: 110px;
}


.btn-info.active,
.btn-info.active.focus{
	color: black;
}











/*right side css*/

#tabRight{
	float: right;
	height: 768px;
	width: 25%;
	/*background-color: blue;*/
}