* {
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
}

/*left side css*/

#tabLeft{
	float: left;
	height: 768px;
	width: 75%;
	background-color: yellow;
}

#tabLeft .nav-pills li a{
	border-radius: 4px 4px 0 0;
}

#tabLeft .nav-pills>li.active>a, 
#tabLeft .nav-pills>li.active>a:focus, 
#tabLeft .nav-pills>li.active>a:hover{
	/*tab color*/
	/*background-color: #428bca;*/
	background-color: black;
} 

#tabLeft .tab-content{
	/*color: white;*/
	/*background-color: #428bca;*/
	background-color: black;
}

.make_drinks_size label{
	width: 98px;
}

.make_drinks_tea_base label{
	width: 145px;
}

.make_drinks_flavor label{
	width: 110px;
}














/*right side css*/

#tabRight{
	float: right;
	height: 768px;
	width: 25%;
	/*background-color: blue;*/
}